<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Hand Chat</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.jpeg') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.jpeg') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/icofont/icofont.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/venobox/venobox.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Chat</title>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/profile-img.jpeg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Hand Chat</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.linkedin.com/in/mansi-jain-470121198/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/mansijain014" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://twitter.com/mansi_jain014" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.instagram.com/mansi.cpp/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://mansi142002.medium.com/" class="medium"><i class="bx bxl-medium"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="/"><i class="bx bx-server"></i>Stats</a></li>
          <li><a href="/"><i class="bx bx-file-blank"></i> <span>Translate</span></a></li>
          <li><a href="/"><i class="bx bx-book-content"></i> Blogs</a></li>
          <li><a href="/"><i class="bx bx-envelope"></i> Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blogs</h2>
          <ol>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li>Black ASL Matters: learn the power of this language in history</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" >
      <div>
        <img src="static/img/portfolio/portfolio-3.png" class="img-fluid" alt="" style="width: 100%;">
      </div>
        <div class="container">


        <div class="portfolio-description">
          <h2>Black ASL Matters: learn the power of this language in history</h2>
          <p>
            In times of turmoil and chaos it seems that we become more interested in gaining knowledge about a certain subject or a certain historic struggle, giving us a better understanding of the matter at hand.
            The year of 2020 brought us plenty of reasons for reflection, self-analysis, and self-awareness regarding our realities and our ongoing reckoning with our own privileges.
          </p>
          <p>
            <b>The Black Lives Movement</b> inspired many protests around the world, and brought together people from all walks of life, races and social class. For professionals and the general public alike, it has also brought up questions about the role of black deaf people in history. 
            The evidence of such interest can be found in the many articles and posts related to Black ASL (American Sign Language) that have been written since then.
          </p>
          <p>
            This post is intended to share some of the history of Black ASL and how it has impacted the Deaf community, both black and white, and how it intertwines with race relations.
            Black deaf people have a unique set of cultural identities, as they are shaped by two cultures and two communities, both oppressed and with double the prejudice.
          </p>
          <p>
            Sign Language is not universal and each country has its own. It has variations and these variations are connected to different factors. Two of those factors include social and geographic characteristics.
            Let’s take a look at some of those characteristics.
          </p>
          <p>
            Gender, age, race and socioeconomic status are characteristics of social factors
            Locations such as urban living vs rural living, communities that live isolated from others, or situations that prevent a person from socializing with others are characteristics of geographic factors.
            Unfortunately, language deprivation can be a common fact in a deaf child's early years, and it can have a devastating impact on their lives. That can also affect how a person learns and acquires language.
          </p>
          <p>
            <b>Deaf People Education in the USA</b><br>
            The history of deaf education in the United States starts with the founding of the first school for the deaf by Laurence Clerc, a deaf teacher from France and Thomas Gallaudet, an American hearing teacher. 
            The school was founded in 1817, and named the "Connecticut Asylum for Deaf and Dumb". Today, it is the oldest permanent school for the deaf in the United States, with the name American School for the Deaf. 
            However, it did not not accept black students until 1952. The first school for black students was founded in 1869, The North Carolina School for the Negro Deaf. It was founded after the Civil War.
          </p>
          <p>
            When the Supreme Court ruled to end segregation in public schools in 1952, in the case known as “Brown vs Board of Education", the course of the education of black deaf students would change dramatically.
            The long gap between separate and integrated schools led to the creation of two systems of education. Two languages and two different types of culture assimilation for black deaf students and white deaf students.
            The method of prestige for educating deaf children at the time of segregation was the oralist method, and  black deaf students, who were not part of that prestige, had a different reality in their education and language acquisition.
            The creation of a separate language  was a natural consequence. While white students were deprived of their natural language, black students continued to use it in their schools and that may have saved ASL from becoming extinct or irrelevant.
          </p>
          <p>
            It was only obvious that these two languages were not exactly the same when black students began to attend white schools and communicate with their white peers. It felt as if they could not understand each other, even if using American Sign Language.
            Because of segregation, The National Association of the Deaf did not allow blacks for 40 years, and Gallaudet University did not allow blacks until 1950. These were organizations that were fighting for the rights of Deaf people and blacks were excluded.
          </p>
          <p>
            Think about that for a moment. Minorities excluding minorities.
            After schools integrated, the first Black Deaf person to graduate from Gallaudet was Andrew Foster born in Alabama. He graduated in 1954 and went on to open a total of 32 schools for the deaf in Africa. His legacy is immeasurable.
            The first black female to earn a PHD was Dr. Angela McCaskill in 2004, followed by her sister in 2005, Dr Carolyn McCaskill, one of the authors of "The Hidden Treasures of Black ASL".
          </p>
          <p>
            Because Gallaudet University has standardized and presented ASL as a language based on prestige, Black ASL can be viewed by some as inferior just by not being the standard, and because it is used by a group that has been marginalized for years.
            In the 1950's and 1960's Black Deaf people started to form their own deaf clubs, which are so important in the development of their strong and proud culture. It has always been a place where they use and preserve their language. 
            In 1981, feeling that their needs were not being represented, The National Black Deaf Advocates was founded and it has fought to advance the rights of black Deaf and Hard of Hearing Individuals ever since.
          </p>
          <p>
            <b>The National Alliance of Black Interpreters is another organization that advocates for the rights of black deaf people and black sign language interpreters.</b>
            More and more people are becoming interested in Black ASL and its history, and many Deaf individuals have become prominent figures in the arts, sports, politics and academia.
            As we continue to move forward to the idea of a more perfect union, we hope for a day when we can place some of these struggles in the context of its history, understanding how language and communication are powerful ways to improve our lives and the lives of others.
          </p>
          <p>
            In the words of poet laureate Amanda Gorman:
            "For there is always light if only we're brave enough to see.
            If only we're brave enough to be it."
            Want to know more about Black ASL? Here goes a tip, the book "Hidden Treasures of Black ASL" is a rich and fascinating description of the social and linguistic history of this language variation. It is the result of the findings of the Black ASL Project, the first of its kind.
          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>