<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Hand Chat</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.jpeg') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.jpeg') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/icofont/icofont.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/venobox/venobox.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Chat</title>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/img/profile-img.jpeg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Hand Chat</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.linkedin.com/in/mansi-jain-470121198/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/mansijain014" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://twitter.com/mansi_jain014" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.instagram.com/mansi.cpp/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://mansi142002.medium.com/" class="medium"><i class="bx bxl-medium"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="/"><i class="bx bx-server"></i>Stats</a></li>
          <li><a href="/"><i class="bx bx-file-blank"></i> <span>Translate</span></a></li>
          <li><a href="/"><i class="bx bx-book-content"></i> Blogs</a></li>
          <li><a href="/"><i class="bx bx-envelope"></i> Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blogs</h2>
          <ol>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li>Learn ASL: A Guide to Getting You Started Fast</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" >
      <div>
        <img src="static/img/portfolio/portfolio-5.png" class="img-fluid" alt="" style="width: 100%;">
      </div>
        <div class="container">
        <div class="portfolio-description">
          <h2>Learn ASL: A Guide to Getting You Started Fast</h2>
          <p>
            Did you know that American Sign Language (ASL) is among the most popular languages for second-language learners? It’s constantly growing in popularity and is an exciting choice for budding bilinguals.
            However, when it comes to putting in the work, learning ASL is no different from learning other languages – be it Portuguese, Arabic, or Japanese.
            That being said, the time it will take you to learn ASL can vary.
          </p>
          <p>
            Traditionally, it’s believed that native English speakers need about 600 classroom hours to achieve near-fluency in a language like Spanish or French. And it can take even up to 2,200 hours to learn a more dissimilar language such as Chinese or Arabic. 
            That’s quite a wide range, and ASL will likely fall somewhere in the middle.<br>At the same time, it’s important to remember that while ASL is a full-fledged language like any other, it works quite a bit differently than oral languages.<br><b>Why is that? 
            </b><br>
            You’ll spend far more time on facial expressions and gestures than you will on speaking. ASL grammar has its own unique rules for phonology, morphology, syntax, and pragmatics – and mastering it may take some time.
            If you’re looking to learn ASL and want to make a fast first move, here are our top tips to make the most of your time without sacrificing the needed practice!
          </p>
          <p>
            <b>1. Watch Videos on ASL</b><br>
            There’s an increasing emphasis on listening as the all-important factor of language learning, to the point where it’s been called the 'Cinderella skill’ for being previously overlooked. In the context of sign language, any sign language speaker must know how important visual learning is to become truly fluent.
            As you start your learning journey, know that there are tons of both paid and free resources available, together with many tools that can make learning fun! Nowadays, you can basically learn sign language in any method you prefer. Specifically, the proliferation of streaming content online has been a massive boon for ASL learners.
          </p>
          <p>
            To supercharge your learning, hiring a tutor really works wonders in terms of achieving fast and sustainable progress. Online tutors tend to be more affordable than those in-person, but ultimately you should decide based on your personal preference. 
            Not only do they make sure you learn phrases, know how to form sentences, and can maintain a conversation, but they can also walk you through the perfect your HOLME. Handshape, Orientation, Location, Movement, and Expression are the key aspects of each sign you will make.
          </p>
          <p>
              <b>2. Focus On The Basics (At First)</b><br>
              Sign language is difficult, and that’s okay. Languages are supposed to be hard.<br>
              <b>Why?</b>
              Because we need to be able to express an infinite amount of concepts using a vast vocabulary.             
              However, don’t get discouraged. A good way to approach learning is to focus on the basics at first. While you may want to express your full-fledged opinions on your favorite hobbies and interests, you have to walk before you can run. Sign language is difficult, and that’s okay. Languages are supposed to be hard.
              <br><b>Why?</b>
              Because we need to be able to express an infinite amount of concepts using a vast vocabulary.\
              However, don’t get discouraged. A good way to approach learning is to focus on the basics at first. While you may want to express your full-fledged opinions on your favorite hobbies and interests, you have to walk before you can run. 
          </p>
          <p>
            Make sure you really know how to say “yes”, “no”, “please”, “thank you”, and that you can ask all the basic questions like “where is” and “how do I” before you jump into more complex sentence structures and vocabulary. Also, if you’re unsure of your skills, don’t be afraid to slow down and spend some more time practicing before you move on.<br>
            It’s only when students ignore the basics that they get ahead of themselves and often lose focus. We can’t stress this enough – don’t get discouraged! Any progress is a great sign of better learning.
          </p>
          <p>
            <b>3. Visit a Deaf Event</b><br>
            There’s an incredible variety of ASL speakers out there. Some are born deaf and learned ASL at a young age, some picked it up as a second language, or they grew up hearing around deaf family members.
            The great thing is that ASL opens your doors to the Deaf community – one that’s incredibly diverse and inspiring made up of people from all backgrounds and nationalities. The community tends to be closely connected and its members meet regularly – with many of the spaces open to everyone, including fellow ASL speakers.<br> 
            Know that you don’t have to have a fluent grasp of the language to attend events organized by the Deaf community. If you run into any trouble communicating, there will most likely be several bilingual members around to help you out (it never hurts to check in advance if you’re unsure though!).
            Exploring your local Deaf scene can go a long way. For example, search for gatherings on sites like MeetUp.com, and see if there’s one in your area anytime soon. Remember to always be respectful and courteous, but also be open to making new friends and trying your best to sign. The fact that you’re making a serious effort will earn you respect among your signing peers! 
          </p>
          <p>
            <b>4. Use an ASL App</b><br>
            While you shouldn’t solely rely on a language app to learn ASL (or any other language, really), your smartphone can be an excellent means of solidifying your knowledge base. A good sign language dictionary is almost essential, allowing you a quick and easy way to look up what you don’t know or make a fast translation.  
            Some apps to try out include: Hands On ASL, Sign ASL, Hand Talk.
          </p>
          <p>
            <b>5. Practice Fingerspelling</b><br>
            One of the hardest parts of learning sign language is memorizing the signs. In a pinch, it can be useful to use fingerspelling instead. While easy and straightforward (fingerspelling is exactly what it sounds like), it does require some practice to get good at. 
            You’ll want to be able to fingerspell quickly and without much thought whenever you’ve forgotten a sign or phrase in sign language. 
            <br>Facial expressions are also extremely important in ASL. Even if you don’t know the particular sign or phrase, a big smile can obviously help convey your positive meaning when you’re fingerspelling a word – or a frown if it’s something negative.
            When learning any language, there will be times where you’ll get discouraged. Often, it’s not so much of an upward trajectory as it is highs and lows; some days you’ll have a great conversation with a deaf person, while other times you’ll struggle to express yourself and not know why. 
            This is normal, and it’s nothing to get frustrated by. Just wanting to learn the language means you’re already off to a great start for achieving your ASL dreams!
          </p>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>